.App {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
  background-color: rgb(203, 232, 238);
  min-height: 100vh;
}

.bird-background {
    background-image: url("styles/images/bird-background.jpg");
}

a {
    color: rgb(90, 30, 81);
    transition: width 2s;
}

a:hover {
    color:rgb(162, 82, 165);
    transition: color ease-in-out 0.2s;
}

i {
    color: rgb(90, 30, 81);
    transition: width 2s;
}

i:hover {
    color:rgb(162, 82, 165);
    transition: color ease-in-out 0.2s;
}

